<!-- Header Start -->
<div class="">
  <div class="box bg-color fixed-top">
    <div class="navbar-brand fixed-top brand-info">
      <p class="">
        <i class="fa fa-phone mt-1" aria-hidden="true"></i>
        +1 (407) 476-8313
        <span class="explor">
          <!-- <button type="button" class="btn btn-primary">Primary</button> --> </span
        ><span class="infoPluvial">hr@techarmitservices.com</span>
      </p>
    </div>
  </div>
</div>
<div class="">
  <nav class="mt-top navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../../../assets/logo.png"
        alt="logo"
        height="46px"
        width="100%"
      />
      <!-- <h1 class="title-info">TechArm</h1> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav menu-left">
        <li class="nav-item">
          <a class="nav-link a-link" routerLink="/home"
            >Home <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/free-it">Free IT Assessment </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">For Business</a>
          </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/team">Blog & News </a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/support" target="_blank">Support </a>
          </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog </a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us </a>
        </li>

        <!-- <li class="nav-item contact-space">
          <a
            class="nav-link btn bg-color sign-info"
            routerLink="/contact"
            type="button"
          >
            <span class="sigin">Contact Us</span></a
          >
        </li> -->
      </ul>
    </div>
  </nav>
</div>
<!-- Header End -->
