.banner-info {
  background-image: url("../../assets/teams.png") !important;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 40px;
  background-size: 100%;
  background-size: cover;
  /* opacity: 0.8; */
}

.section-info {
  margin-top: 40px;
  margin-bottom: 80px;
}
.text-block {
  position: absolute;
  bottom: 50%;
  left: 45%;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.btn-outline-danger {
  background-color: #eb5e28;
  color: white;
  border: none;
}

.btn-outline-danger:hover {
  background-color: #eb5e28;
  color: white;
}
.our-info {
  text-align: center;
  margin-bottom: 40px;
}
.mb-info {
  margin-bottom: 30px;
}

.sub-address {
  margin-left: 148px;
  margin-top: 18px;
}
