<!-- header-bar -->
<app-header></app-header>
<!-- header-bar -->
<div class="background-banner banner-info">
  <img src="/assets/teams.png" height="400vh" width="100%" />
</div>

<!-- Content Start -->

<section class="mt-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-4">
        <!-- <h3>Left Tabs</h3>
        <hr /> -->
        <div class="col-lg-3">
          <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left sideways">
            <li class="active">
              <a href="#home-v" data-toggle="tab">Who we are</a>
            </li>
            <li><a href="#profile-v" data-toggle="tab">Waht we do</a></li>
            <li>
              <a href="#messages-v" data-toggle="tab">Mission and Vission</a>
            </li>
            <li><a href="#settings-v" data-toggle="tab">Quality Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-9">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home-v">
              <div style="font-size: 26px" class="mb-2 text-color">
                Who we are
              </div>
              <!-- <h4 class="mt-2">
                <b>We Develop Great People Who Develop Great Software</b>
              </h4> -->
              <p class="mt-4">
                TechArmITServices is an emerging information technology company
                that is dedicated to provide best client services in every
                aspect. Our team is excellent in understanding client’s
                requirement and work accordingly. We add our values when it
                comes to deal with customer requirement and welcome a broad
                perspective view to solve clients’ problems. <br />
              </p>
              <p>
                Our young and dedicated team try to match your requirement in
                all domains with great diverse staffing according to your
                requirement. We believe in team work and always ready to accept
                new challenges in IT field and use excellent business practices
                that help your company stand ahead in this global market.
              </p>
              <br />
              <p>
                Our vision is to provide high quality IT solutions along with
                values and we believe our ethics and efforts leads us to the top
                position in this global IT services. We offer streamlined
                executions and we have a brilliant talent control that differs
                us from rest. Our staffing services are excellent in
                understanding your requirement and try to offer the best for the
                post. We try to match all the requirements in every aspect by
                combining both technology skills and domain expertise.
              </p>
              <br />
              We are committed to have long-term relationship with our clients
              by proving wide array of solutions to every possible factor that
              effect client’s performance. We have a great team that analyze al
              the factors and requirements with specific knowledge of industry
              and this is our advantage over others.
            </div>
            <div class="tab-pane" id="profile-v">
              <div style="font-size: 26px" class="mb-2 text-color">
                What we do
              </div>
              <p class="mt-4">
                TechArmITServices is an emerging information technology company
                that is dedicated to provide best client services in every
                aspect. Our team is excellent in understanding client’s
                requirement and work accordingly. We add our values when it
                comes to deal with customer requirement and welcome a broad
                perspective view to solve clients’ problems. <br />
              </p>
              <p>
                Our young and dedicated team try to match your requirement in
                all domains with great diverse staffing according to your
                requirement. We believe in team work and always ready to accept
                new challenges in IT field and use excellent business practices
                that help your company stand ahead in this global market.
              </p>
              <br />
              <p>
                Our vision is to provide high quality IT solutions along with
                values and we believe our ethics and efforts leads us to the top
                position in this global IT services. We offer streamlined
                executions and we have a brilliant talent control that differs
                us from rest. Our staffing services are excellent in
                understanding your requirement and try to offer the best for the
                post. We try to match all the requirements in every aspect by
                combining both technology skills and domain expertise.
              </p>
              <br />
              We are committed to have long-term relationship with our clients
              by proving wide array of solutions to every possible factor that
              effect client’s performance. We have a great team that analyze al
              the factors and requirements with specific knowledge of industry
              and this is our advantage over others.
            </div>
            <div class="tab-pane" id="messages-v">Mission and Vission Tab.</div>
            <div class="tab-pane" id="settings-v">Quality Policy Tab.</div>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

<!-- Content End -->
<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
