<!-- header-bar -->
<app-header></app-header>
<!-- header-bar -->
<div class="background-banner banner-info">
  <img src="/assets/teams.png" height="400vh" width="100%" />
</div>

<!-- Content Start -->

<section class="mt-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-4">
        <!-- <h3>Left Tabs</h3>
        <hr /> -->
        <div class="col-lg-3">
          <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left sideways">
            <li class="active">
              <a href="#home-v" data-toggle="tab">Who we are</a>
            </li>
            <li>
              <a href="#profile-v" data-toggle="tab">What we do</a>
            </li>
            <li>
              <a href="#messages-v" data-toggle="tab">Mission and Vision</a>
            </li>
            <li>
              <a href="#settings-v" data-toggle="tab">Quality Policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-9">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home-v">
              <div style="font-size: 26px" class="mb-2 text-color">
                Who we are
              </div>
              <!-- <h4 class="mt-2">
                <b>We Develop Great People Who Develop Great Software</b>
              </h4> -->
              <p class="mt-4">
                TechArm IT Services is an emerging information technology
                company that is dedicated to provide best client services in
                every aspect. Our team is excellent in understanding client’s
                requirement and work accordingly. We add our values when it
                comes to deal with customer requirement and welcome a broad
                perspective view to solve clients’ problems. <br />
              </p>
              <p>
                Our young and dedicated team try to match your requirement in
                all domains with great diverse staffing according to your
                requirement. We believe in team work and always ready to accept
                new challenges in IT field and use excellent business practices
                that help your company stand ahead in this global market.
              </p>
              <p>
                Our vision is to provide high quality IT solutions along with
                values and we believe our ethics and efforts leads us to the top
                position in this global IT services. We offer streamlined
                executions and we have a brilliant talent control that differs
                us from rest. Our staffing services are excellent in
                understanding your requirement and try to offer the best for the
                post. We try to match all the requirements in every aspect by
                combining both technology skills and domain expertise.
              </p>
              <p>
                We are committed to have long-term relationship with our clients
                by proving wide array of solutions to every possible factor that
                effect client’s performance. We have a great team that analyze
                al the factors and requirements with specific knowledge of
                industry and this is our advantage over others.
              </p>
            </div>
            <div class="tab-pane" id="profile-v">
              <div style="font-size: 26px" class="mb-2 text-color">
                What we do
              </div>
              <p class="mt-4">
                Our team values your time and understands your requirement.
                Having the best experience and enthusiasm to work, our technical
                resource team will help to fulfill all your IT needs. We have
                expertise in providing valuable services for both the long and
                short-term programming requirements. We have well skilled and
                highly motivated professional experts in specific technologies
                that helps to serve any time including jump-start projects and
                help till its completion. We have various resources and teamed
                up with many companies to provide best solutions. Our innovative
                solutions helps to find a perfect results for all your
                requirements from a single staff requirement for short-term
                project or whole team even for a long-term project.
                <br />
              </p>
              <p>We expertise in:</p>
              <!-- <br /> -->
              <p>
                • Open-source technologies <br />• Cloud-based development
                <br />• End-to-end integration <br />• Networks and systems
                security <br />• Database and warehouse technology
              </p>
              <!-- <br /> -->
              <p>
                As per corporate view an individual team cannot produce a
                qualified product, it involves group efforts of different
                departments. At the same time a qualified product will not make
                a successful organization we need a fundamental aspects of
                business human factor to development and that is essential for
                the growth of organization. TechArmIT services team includes the
                persons with great experience, highly professional, skilled and
                well qualified, and we call them as our assets.
              </p>
            </div>
            <div class="tab-pane" id="messages-v">
              <div style="font-size: 26px" class="mb-2 text-color">
                Mission and Vision
              </div>
              <p class="mt-4">
                Our vision is to provide high quality IT solutions along with
                values and ethics that we believe and Our efforts leads us to the top
                position in this global IT services. We offer streamlined
                executions and we have a brilliant talent control that differs
                us from rest. Our staffing services are excellent in
                understanding your requirement and try to offer the best for
                our clients. We try to match all the requirements in every aspect by
                combining both technology skills and domain expertise. <br />
              </p>
              <p>
                Our mission is to grab the top position in next generation IT
                service providers by creating a friendly environment with high
                class portfolio of services to our clients.
              </p>
              <br />
              <p>
                We train ourselves to be better and challenge ourselves for the
                next version of this dynamic business. We believe our team work
                and technical expertise leads us to our goals in short time.
              </p>
              <br />
            </div>
            <div class="tab-pane" id="settings-v">
              <div style="font-size: 26px" class="mb-2 text-color">
                Quality Policy
              </div>
              <p class="mt-4">
                We are committed to have long-term relationship with our clients
                by proving wide array of solutions to every possible factor that
                effect client’s performance. We have a great team that analyze
                all the factors and requirements with specific knowledge of
                industry and this is our advantage over others. <br />
              </p>
              <p>
                •	We never compromise in quality and try to provide our best for every requirement.<br />
                •	We maintain same level of quality for the project, product and people without fail.<br />
                •	We chose to serve with the best expertise in every level of project and provide highly reliable services.<br />
                •	Our quality remains same for any services we provide irrespective to the size and duration of project.<br />
                •	Our highly collaborative and energetic team will provide all the quality services.<br />             
              </p>
              <br />
              <p>
              </p>
              <br />
            </div>
            <!-- <div class="tab-pane" id="messages-v">Mission and Vission Tab.</div> -->
            <!-- <div class="tab-pane" id="settings-v">Quality Policy Tab.</div> -->
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

<!-- Content End -->
<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
