<!-- header-bar -->
<app-header></app-header>
<!-- header-bar -->
<div class="background-banner banner-info">
  <img src="/assets/teams.png" height="400vh" width="100%" />
</div>

<div class="container mt-top">
  <h3 class="text-center font-weight-bold mb-bottom">Our Services</h3>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <!-- <i class="fa fa-briefcase icon-size"></i> -->
          <i class="fa fa-star icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Consulting services</h5>
          <p>
            Our expertise over different IT domains will make it easy to fulfill
            every requirement that our client demand. we have a dedicated team
            that will be available for all the domains in IT and we make sure to
            give best services for our clients.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <i class="fa fa-star icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">IT Staffing</h5>
          <p>
            The right people at right place can add extra value for any kind of
            work, we believe this and dedicate a separate team with high
            expertise to match all the requirements.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-top mb-bottom">
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <!-- <i class="fa fa-briefcase icon-size"></i> -->
          <!-- <i class="fa fa-money-check-dollar icon-size"></i> -->
          <!-- <i class="fa fa-money icon-size"></i> -->
          <i class="fa fa-star icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">On Demand Services</h5>
          <p>
            We are the best at providing all kinds of offsite/onsite/offshore
            services without quality compromise and limited budget.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <!-- <i class="fa fa-briefcase icon-size"></i> -->
          <i class="fa fa-star icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Permanent Placements</h5>
          <p>
            We are proud to announce that we can match all your needs. As,
            recruiting is our core, we can provide fulltime resource to your
            company and assure for the quality of work.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-top mb-bottom">
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <!-- <i class="fa fa-briefcase icon-size"></i> -->
          <!-- <i class="fa fa-money-check-dollar icon-size"></i> -->
          <!-- <i class="fa fa-money icon-size"></i> -->
          <i class="fa fa-star icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Professional Staffing</h5>
          <p>
            Our team is dedicated along with skills, we provide all kinds of
            contract, contract to permanent and permanent hiring requirement.
            Who are skilled and justify their role totally.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <i class="fa fa-briefcase icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Price Allocation</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
