<!-- header-bar -->
<app-header></app-header>
<!-- header-bar -->
<div class="background-banner banner-info">
  <img src="/assets/teams.png" height="400vh" width="100%" />
</div>

<div class="container mt-top">
  <h3 class="text-center font-weight-bold mb-bottom">Our Services</h3>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <i class="fa fa-briefcase icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Business Valuation</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <i class="fa fa-star icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Appraisal</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-top mb-bottom">
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <!-- <i class="fa fa-briefcase icon-size"></i> -->
          <!-- <i class="fa fa-money-check-dollar icon-size"></i> -->
          <i class="fa fa-money icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Cost Segregation</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <i class="fa fa-briefcase icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Price Allocation</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-top mb-bottom">
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <!-- <i class="fa fa-briefcase icon-size"></i> -->
          <!-- <i class="fa fa-money-check-dollar icon-size"></i> -->
          <i class="fa fa-money icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Cost Segregation</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <div class="d-flex">
        <span class="">
          <i class="fa fa-briefcase icon-size"></i>
        </span>
        <div class="service-tiltes">
          <h5 class="ml-4 tilte-track">Price Allocation</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nulla
            debitis cupiditate nisi blanditiis ex pariatur rerum quia eius
            tenetur illo nihil corporis veniam iusto reiciendis voluptatem,
            temporibus sunt accusantium!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
